@media screen and (max-width: 992px) {
  body {
    font-size: 14px;
  }
  .two-image-horz-source {
    min-height: 40vw;
  }
  .pf-content {
    width: 100%;
  }

  .heading-content {
    padding: 100px 50px;
  }

  .full-image-source {
    min-height: 60vw;
  }
}


@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }

  .full-image-source {
    min-height: 65vw;
  }

  .two-image-horz-source {
    min-height: 40vw;
  }

  .two-x-two-image-source {
    min-height: 33vw;
  }

  .heading-content {
    min-height: 0px;
    padding: 25px;
  }

  .heading-content h1 {
    font-size: 2.5em;
  }

  .heading-content h5 {
    font-size: 1em;
  }
}
